@charset "utf-8";
@media (max-width: 992px) {
  .info-wrapper__slogan {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
  .top-menu__logo {
    width: 100%;
  }
  .top-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-wrapper__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__wrapper__tel {
    margin: 12px 0 0 12px;
  }
  .info__wrapper__wa {
    margin-left: 14px !important;
  }
  .top-menu__info-wrapper {
    margin: 20px 0 20px;
  }
  .top-menu__logo {
    margin: 20px 0 0 0;
  }
  .top-menu__social-media a:before {
    margin-top: 0;
  }
  header {
    padding-top: 0;
  }
  header p {
    margin-top: 0;
  }
  .prev-block {
    margin-top: 60px;
  }
  .prev-block h1 {
    font-size: 44px;
    line-height: 1.05;
  }
  .prev-block h1 span {
    font-size: 28px;
    line-height: 1.05;
  }
  .prev-block h6 {
    font-size: 20px;
  }
  .nav-slider {
    top: 25px;
  }
  .btn-accent-blue,
  .btn-accent-white {
    font-size: 15px;
    width: 100%;
    padding: 30px 0;
  }
  .accent-header h3 {
    font-size: 33px;
    line-height: 1.05;
    text-align: center;
  }
  .accent-header h5 {
    text-align: center;
    font-size: 26px;
  }
  .default-header {
    font-size: 26px;
  }
  .second-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .second-block img {
    display: none;
  }
  .second-block__text-block img {
    display: inline;
    width: 100%;
  }
  .second-block__text-block h6 {
    margin: 0 0 32px 0;
  }
  .principles-wrapper__principles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .support-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
  }
  .cards-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards-block__card {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0;
  }
  .statisticks-block {
    margin: 60px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statisticks-block h3 {
    font-size: 34px;
    text-align: center;
  }
  .numbers-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 0 0;
  }
  .nubmer-block {
    position: static;
    width: 80% !important;
  }
  .nubmer-block:nth-of-type(even) {
    margin: 0 0 0 auto;
  }
  .nubmer-block:nth-of-type(1) {
    z-index: 6;
  }
  .nubmer-block:nth-of-type(2) {
    margin-top: -7%;
    z-index: 3;
  }
  .nubmer-block:nth-of-type(3) {
    margin-top: -7%;
    z-index: 2;
  }
  .nubmer-block:nth-of-type(4) {
    margin-top: -7%;
    z-index: 1;
  }
  .approach-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0 240px 0;
  }
  .video-block {
    margin: 0;
    height: 300px;
  }
  .video-block button {
    width: 100%;
  }
  .feedback-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
    margin: 0 0 40px 0;
  }
  .photo-block {
    text-align: center;
    margin-bottom: 20px;
  }
  .fancybox-content {
    width: 100% !important;
    height: 100% !important;
  }
  .fancybox-slide {
    padding: 100px 20px;
  }
  .footer__btn-orange {
    width: 100%;
    font-size: 15px;
  }
  .footer__btns-block,
  .info-bottom {
    margin-top: 40px;
  }
  .policy-wrapper {
    text-align: center;
  }
  .we-are-block__policy-link {
    font-size: 16px !important;
  }
  .info__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .we-are-block {
    text-align: center;
  }
  .we-are-block p {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .accent-header h6 {
    font-size: 18px;
  }
}
@media (max-height: 626px) {
.overlayMenu ul li a {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
    .carousel-inner {
    height: 480px;
  }
}
@media (max-width: 320px) {
  .info-bottom__social-media a {
    display: block;
  }
  .info-bottom__social-media a:first-of-type {
    padding-bottom: 20px;
  }
  .info-bottom .d-flex:nth-of-type(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-bottom__call-link {
    padding-left: 50px !important;
  }
  .footer__btns-block button,
  .support-block button {
    padding: 0;
  }
  .nubmer-block {
    width: 90% !important;
  }
  .nubmer-block p {
    font-size: 14px;
  }
  .default-header-white {
    font-size: 25px;
    line-height: normal;
  }
  .statisticks-block h3,
  .statisticks-block span {
    font-size: 28px !important;
  }
  .accent-header h6 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=media.css.map */