@font-face{
    font-family: 'Futura PT';
    src: url(FuturaPT-Medium.ttf)
}
*{
    font-family: 'Futura PT';
    padding: 0;
    margin: 0
}
@keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
button:active{
    outline: none !important;
}
div>h1{
    color: rgba(27, 52, 92, 0.9);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 60px auto;
}
h4{
    font-size: 24px;
    font-weight: 500;
}
p{
    font-weight: 400;
    font-size: 18px;
}
.line{
    height: 2px;
    background: rgba(27, 52, 92, 0.9);
    margin-top: 82px;
}
.page-1{
    background: url(img/bg_1.png) no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}
.container{
    max-width: 95% !important;
}
.info-top-box{
    div{
        padding: 0 !important;
        display: flex;
        align-items: baseline;
    }
    p{
        font-size: 16px;
    }
    .languages-block img {
        margin-left: 8px;
    }
    .languages-block{
        display: flex;
        justify-content: flex-end;
    }
}
nav{
    .nav-link{
        padding-bottom: 0 !important;
        color: #fff !important;
        margin-bottom: 126px;
        font-size: 20px;
        white-space: nowrap;
    }
    img{
        margin-top: -61px;
    }
    .long{
        margin-right: 40px; 
    }
}
.main-cards-line-block{
    max-width: 80% !important;
    margin: auto;
    .card-block{
        animation-name: fadeInRight !important;
        margin: auto 26px 40px 0;
        padding: 23px 0 0 57px;
        height: 165px;
        border-radius: 30px;
        opacity: .95;
        background-color: rgba(255, 255, 255, 0.7);
    }
    p{
        white-space: pre;
        color: rgba(27, 52, 92, 0.8);
        font-size: 18px;
        font-weight: 400;
    }
    svg{
        margin-bottom: 5px;
    }

}
.header{
    display: flex;
}
.build-cards-block{
    
    .build-card{
        display: flex;
        background: url(img/8.png) no-repeat;
        height: 301px;
        width: 298px;
        margin-bottom: 30px;
        padding-left: 27px;
    }
    .inner{
        margin: auto 0 19px 0;
    }
    button{
        width: 102px;
        border-radius: 8px;
        color: #fff;
        outline: none;
        border: 1px solid #fff;
        background: transparent;
    }
}
.news-block{
    max-width: 407px !important;
    p,h4{
        color: #323232;
    }
}
.graph-block{
    img{
        width: 95%;
        margin-bottom: 33px;
    }
    .bottom-block:first-child{
        max-width: 192px !important;
    }
}
.tittle-graph{
    margin: 60px auto;
}
.page-4{
    background: url(img/main_bg_2_1.png) bottom no-repeat;
    h4{
        margin-bottom: 30px;
    }
}
footer{
    background: url(img/bg.png);
    margin-top: 98px;
    height: 250px;
    .line{
        margin-top: 46px;
        position: absolute;
        width: 100% !important;
        right: 0;
    }
    h3{
        // width: 1060px !important;
        z-index: 1;
        // position: absolute;
        padding-left: 0 !important;
        margin-top: 30px;
        font-size: 24px;
        background: #244674;
    }
    a{
        color: #fff;

    }
    .logo-bottom{
        padding-right: 0 !important;
        margin-top: -144px;
    }
    .info-bottom-box .d-flex img{
        padding-top: 5px;
        padding-right: 10px;
    }
    .info-bottom-box{
        margin-top: 18px;
    }
}
.header-bottom{
    // width: 50% !important;
}
.short{
    left: 0;
    position: absolute;
    // width: 2000px !important;
}
.bottom-info-block{
    margin: 73px 0;
    p{
        width: 554px;
    }
}
