@media(max-width: 1200px){
    nav img{
        display: none !important;
        position: absolute;
    }
    .nav-link{
        margin: 0 !important;
    }
    .navbar{
        margin-bottom: 100px;
    }
    .card-block{
        padding-left: 20px;
    }
    .bottom-info-block{
        justify-content: center !important;
        margin-bottom: 5px;
    }
    .bottom-info-block p, 
    .bottom-info-block img{
        width: 100%;
    }
    .logo-bottom{
        display: none;
    }
}
@media(min-width: 1400px){
    .carousel{
        height: 70%;
    }
}
@media(min-width: 2000px){
    .page-1, 
    #carouselExampleControls
    {
        min-height: 100vh;
    }
    .first-line{
        height: 30vh;
        align-items: flex-end;
    }
    .carousel-inner, .page-1{
        padding: 0 !important;
    }
}
@media(max-width: 660px){
    .page-1{
        min-height: 300px;
        padding-bottom: 0;
    }
}
@media(max-width: 764px){
    .carousel{
        height: 60%;
        /* min-height: 30%; */
    }
    .page-1{
        margin-top: 56px;
    }
    .languages-block p, .line, 
    .logo-bottom{
        display: none
    }
    footer h3{
        background: transparent;
    }
    .languages-block {
        height: 40px
    }
    #sidebar-wrapper{
        margin-left: 0;
    }
    
    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper{
        margin-left: -15rem;
    }
    footer{
        margin-top: 0;
    }
}
@media(max-width: 450px){
    .page-1{
        min-height: 200px;
    }
    .carousel{
        height: 30%;
    }
}
@media(max-width: 926px){
    .bottom-nav{
        display: none;
    }
}
@media(max-width: 1000px){
    .graph-block img{
        display: none;
    }
    .graph-block div{
        display: block !important;
    }
    .graph-block div p{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}

@media(max-width: 400px){
    .carousel-inner{
        height: 10%;
    }
    .build-card {
        zoom: 1.1;
    }
    .graph-block .d-flex{
        padding-left: 20px !important;
    }
    #sidebar-wrapper{
        left: -190px;
        width: 190px;
    }
    .list-group{
        width: 190px !important;
    }
    .toggled{
        margin-left: 190px !important;
    }
}
@media(max-width: 250px){
    .build-card {
        zoom: 0.7;
    }
}
@media(min-width: 1800px){
    .logo-bottom{
        display: none;
    }
}
@media(min-width: 2300px){
    .line{
        height: 4px;
    }
}
@media(min-width: 720px){
    .carousel-indicators{
        display: none !important;
        position: absolute;
    }
}
@media(max-width: 320px){
    .build-card {
        zoom: 0.9;
    }
}
@media(max-width: 720px){
    .build-cards-block .inner{
        margin-bottom: 60px;
    }
    .news-content{
        margin-bottom: 15px;
    }
}